# virtual environment
/venv

# Python cache folders
**/__pycache__

# PyCharm folders
/.idea

# old example corpora
/exampleCorpora/RC_multSubc_1
/exampleCorpora/SC_singleSubc_1

# output and prep files
/output
/prep
